RewriteEngine On
RewriteBase /

# Se o arquivo não existir fisicamente na public_html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Manda tudo para o index.php que faz a ponte
RewriteRule . index.php [L]
