RewriteEngine On
RewriteBase /

# Se o arquivo não existir fisicamente na raiz
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Manda tudo para o index.php que faz a ponte para a pasta dist
RewriteRule . index.php [L]
